header {
    width: 100%;
    height: 10%;
}

.flag {
    width: 24px;
    height: 24px;
    margin-right: .2rem;
}

.menu-um-mobile {
    background: #2A3543;
    width: 100%;
    height: 51px;
    padding: 5px;
}

.menu-dois {
    background: #4A535F;
}

.menu-dois-desktop {
    display: none;
    height: 51px;
}

.menu-dois-mobile {
    width: 100%;
    height: 51px;
}

.menu-mobile,
.menu-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu-mobile li,
.menu-desktop li {
    color: #fff;
    font-size: 1rem;
}

.menu-mobile li a,
.menu-desktop li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.menu-mobile li a:hover,
.menu-desktop li a:hover {
    font-size: 1.2rem;
    color: #FFD700;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-mobile .sub-menu-mobile ul {
    position: absolute;
    left: 0;
    padding: 10px;
    width: 100%;
    background: #4A535fa4;
    display: none;
}

.menu-mobile .sub-menu-mobile:hover ul {
    display: block;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.sub-menu-mobile ul li {
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.sub-menu-mobile ul li a {
    width: 100%;
}

.menu-desktop li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 992px) {
    header {
        height: auto;
    }

    .conteinerMenu {
        margin: 0 150px;
        height: 100%;
    }

    .menu-dois-mobile {
        display: none;
    }

    .menu-dois-desktop {
        display: block;
    }
}